img.avatar {
    border-radius: 50%;
    width: 50px;
    aspect-ratio: 1/1;
}

table {
    overflow-x: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 0 10px;
}

th {
    background-color: #5c6bc0;
    color: white;
    height: 40px;
    padding: 10px;
    text-align: center;
}

tr {
    box-shadow: 0 0px 0.9px rgba(0, 0, 0, .6);
}

    tr:nth-child(even) {
        background-color: aliceblue;
    }

    tr:hover {
        background-color: rgb(239, 244, 249);
    }

td {
    font-family: 'Tahoma';
    text-align: center;
    padding: 10px;
}

button {
    border-radius: 4px;
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    color: white;
    border-width: 0px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    transition: background-color .2s;
}

    button.delete {
        background-color: #e53935;
    }

        button.delete:hover {
            background-color: #ab000d;
        }

        button.delete:active {
            background-color: #ff6f60;
            box-shadow: 0 1px 6px rgba(0, 0, 0, .6);
        }

    button.details {
        background-color: #43a047;
    }

        button.details:hover {
            background-color: #00701a;
        }

        button.details:active {
            background-color: #76d275;
            box-shadow: 0 1px 6px rgba(0, 0, 0, .6);
        }
